{% extends 'base.html' %}

{% block head %}
    {# Use the ticket's __unicode__ function to just make the page title #}
    <title>{{ ticket }}</title>
{% endblock %}


{% block body %}
    <article>
        <div class="box">
            <h2>{{ customer }}</h2>

            <div>Status: {{ ticket.get_status }}</div>
            <div>Priority: {{ ticket.get_priority }}</div>
            <div>Item Description: {{ ticket.item_manufacture }} {{ ticket.item_model }} {{ ticket.item_serial }}</div>
            <div>Type: {{ ticket.item_type }}</div>
            <div>Location: {{ ticket.location }}</div>
            <div></div>
            <div></div>

        </div>

        <div class="box">
            <h2>Inventory Code</h2>
            <image src="{% url 'tickets:QRCode' ticket.pk %}"></image>
        </div>

    {% comment %}
    {{ customer }}
    {{ ticket }}
    {{ comments }}
    {% endcomment %}
    </article>
{% endblock %}