{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" type="text/css" />
{% block head %}
{% endblock %}
</head>
<body>
<header>
    <div id="logo">
        <h1>Remembering Time</h1>
    </div>
    <menu>
        <ul id="nav">
            <li class="home"><a href="/">Home</a></li>
            <li class="invoices"><a href="{% url 'tickets:index' %}">Invoices</a></li>
            <li class="customers"><a href="{% url 'customers:index' %}">Customers</a></li>
            <li class="items"><a href="{% url 'dispatch' %}">Items</a></li>
        </ul>
    </menu>
</header>
{% block body %}
{% endblock %}
</body>
</html>
