{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" type="text/css" />

    {# AJAX instant search #}
    <script src="{% static 'js/jquery-2.1.3.min.js' %}" type="application/javascript"></script>

    {# The header blocks for all pages inheriting this page #}
    {% block head %}
    {% endblock %}

</head>
<body>
<header>
    <div id="logo">
        <h1>Remembering Time</h1>
    </div>
    <menu>
        <ul id="nav">
            <li><input type="text" id="search" /></li>
            <li class="home"><a href="/">Home</a></li>
            <li class="invoices"><a href="{% url 'tickets:index' %}">Invoices</a></li>
            <li class="customers"><a href="{% url 'customers:index' %}">Customers</a></li>
        </ul>
    </menu>
</header>
{% block body %}
{% endblock %}
</body>
</html>
