{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}

    <!-- Stats! -->
    <dev class="stats">
        <span id="totalcustomers">Total customers in system: {{ ctotal }}</span>
        <span id="totalopentickets">Total tickets open: {{ ttotal }}</span>
        <span id="totalqueuedtickets">Total tickets in queue: {{ qtotal }}</span>
        <span id="totalticketstesting">Total tickets in testing: {{ testtotal }}</span>
        <span id="totalcompletedtickets">Total tickets completed: {{ comptotal }}</span>
    </dev>

    <table class="customerlist">
    <tr>
        <td>ID</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Created</td>
        <td></td>
    </tr>
    {% for c in customers %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.first_name }}</td>
            <td>{{ c.last_name }}</td>
            <td>555-555-5555</td>
            <td>{{ c.email }}</td>
            <td>{{ c.created|date }}</td>
            <td><a href="#">View tickets</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}