{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <article>
    <!-- Quick links to parts of the site -->
    <div class="sidebar">
        <div id="quicklinks" class="box">
            <h2>Links</h2>
            <div id="createcustomer"><a href="#">Create a new customer</a></div>
        </div>
        <!-- Stats! -->
        <div id="statisticsbox" class="box">
            <h2>Statistics</h2>
            <div id="totalcustomers">Total customers in system: {{ ctotal }}</div>
            <div id="totalopentickets">Total tickets open: {{ ttotal }}</div>
            <div id="totalqueuedtickets">Total tickets in queue: {{ qtotal }}</div>
            <div id="totalticketstesting">Total tickets in testing: {{ testtotal }}</div>
            <div id="totalcompletedtickets">Total tickets completed: {{ comptotal }}</div>
        </div>
    </div>

    <div id="pkgbox" class="box">
        <h2>Customer List</h2>

        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Invoice #</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
            {% for c in customers %}
                <tr>
                    <th>{{ c.id }}</th>
                    <th><a href="{% url 'tickets:ticket' c.id %}">{{ c.get_full_name }}</a></th>
                    <th>{{ c.email }}</th>
                    <th>{{ c.phone }}</th>
                    <th>{{ c.created }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </article>

{% endblock %}
